* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container-1 {
  width: 100%;
  height: 1000px;
  margin: 0 0 118px;
  padding: 34px 169px 48px 179px;
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* NAV-BAR CONTENT */
.main-nav {
  width: 100%;
  height: 100px;
  display: flex;
}

.nav-logo {
  margin: 0 95px 146px 0;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #505050;
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-weight: bold;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 20%;
  list-style-type: none;
}

.nav-link {
  margin: 0 30px 150px 1px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #505050;
  font-family: "Montserrat", sans-serif;
}
/* MAIN-SECTION-1-PART-2 */
.main-container-1-section {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}

.main-container-1-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 550px;
  height: 500px;
  margin-left: 2%;
  margin-top: 8%;
}

.creative-agency {
  margin: 317px 25px 13px 66px;
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-size: 62px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #505050;
}

.digital-design {
  margin: 13px 99px 37px 66px;
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-size: 62px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #505050;
}

.bg {
  cursor: pointer;
  width: 148px;
  height: 47px;
  margin: 37px 1px 230px 66px;
  padding: 19px 34px 18px 35px;
  background-color: #ffe400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.read-more {
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #505050;
}

.dots {
  margin: auto;
  position: absolute;
  bottom: 2%;
  left: 45%;
  display: flex;
  list-style-type: none;
}
.dot-orig {
  width: 8px;
  height: 8px;
  margin: 54px 0 0 63px;
  font-size: 62px;
}

.dot-2 {
  width: 8px;
  height: 8px;
  margin: 54px 0px 0 22px;
  opacity: 0.3;
  font-size: 62px;
}

.dot-3 {
  width: 8px;
  height: 8px;
  margin: 54px 598px 0 21px;
  opacity: 0.3;
  font-size: 62px;
}
/* SECTION PART 2 */
.container-2 {
  width: 100%;
  height: auto;
}

.container-2-header {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #505050;
}

.container-2-header-content {
  margin: 29px 0 95px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #505050;
}

.container-2-services {
  width: 60%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.container-2-services-icon {
  width: 350px;
  height: auto;
}

.shape {
  width: 65px;
  height: 65px;
  margin: 5px 16px 66px 0;
  float: left;
}

.main-header {
  margin: 0 50px 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #505050;
}

.main-header-text {
  margin: 10px 0 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #505050;
}

.container-2-items {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.container-2-item {
  margin: 80px 45px 17px 9px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #505050;
}

.container-2-border {
  width: 95px;
  height: 2px;
  background-color: #ffe400;
  margin-left: 46.5%;
}

.container-2-images {
  margin: auto;
  width: 60%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-2-image {
  width: 350px;
  height: 350px;
  margin: 5% 10px 0px 0px;
}

.container-2-bg {
  width: 165px;
  height: 47px;
  margin: 50px 94px 120px 46%;
  padding: 18px 0px 0px 20px;
  background-color: #ffe400;
}

.container-2-see-more-work {
  width: 135px;
  height: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #505050;
}

.container-2-content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}

.container-2-content-left {
  width: 500px;
  height: 500px;
  position: relative;
  left: 8%;
}

.container-2-content-left-title {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: left;
  color: #505050;
}

.container-2-content-left-text {
  width: 505px;
  height: 208px;
  margin: 29px 0px 0px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #505050;
}

.container-2-content-left-items {
  width: 380px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-2-content-left-item {
  margin: 54px 0 0px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0;
  letter-spacing: normal;
  text-align: left;
  color: #505050;
}

.container-2-content-left-item-2 {
  margin: 42px 0 0 0;
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: left;
  color: #505050;
}

.container-2-content-right {
  width: 725px;
  height: auto;
  margin-right: 0%;
}

.container-2-header-2 {
  margin: 119px 28px 29px 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: center;
  color: #505050;
}

.container-2-header-2-content {
  width: 754px;
  height: 16px;
  margin: 29px 0px 46px 29%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #505050;
}

.container-2-team-members {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.container-2-team-member {
  height: auto;
  margin: 0px 0px 20px 0;
  padding: 0 25px 0 0;
}

.container-2-team-member-title {
  margin: 20px 12px 5px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #505050;
}

.container-2-team-member-content {
  margin: 0px 81px 24px 0px;
  opacity: 0.8;
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(80, 80, 80, 0.8);
}

.container-2-team-member-phone {
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #505050;
}

.container-2-subscribe {
  width: 1110px;
  height: 157px;
  margin: 120px 20% 49px;
  padding: 53px 95px 55px 71px;
  background-color: #f4f4f4;
  display: flex;
}

.container-2-subscribe-title {
  width: 400px;
  height: 22px;
  margin: 0 117px 13px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #505050;
}

.container-2-subscribe-content {
  width: 500px;
  height: 14px;
  margin: 5px 0 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #505050;
}

.container-2-subscribe-input {
  width: 445px;
  height: 42px;
  margin: 10px 0 0px 27px;
  padding: 0 0 0 36px;
  border: solid 1px #ededed;
  background-color: #ffffff;
}

.container-2-subscribe-input-text {
  margin: 12px 0px 17px 0;
  opacity: 0.4;
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(80, 80, 80, 0.4);
}

.container-2-subscribe-input-button {
  width: 131px;
  height: 42px;
  float: right;
  margin: -44px 0 0 0;
  padding: 16px 27px 16px 28px;
  border: solid 1px #ededed;
  background-color: #ffe400;
}

.container-2-subscribe-input-button-text {
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #505050;
}

.container-2-footer {
  margin: 49px 83px 2% 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #505050;
}
